@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@400;700&display=swap");
html {
  font-family: Blinker, sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
html {
  font-family: "Inter", sans-serif;
}

.guest-nav-bar_left {
  display: flex;
  width: 339px;
  height: 49px;
  justify-content: space-evenly;
}
.guest-nav-bar_right {
  margin-left: 163px;
}
.landing-page-body {
  display: flex;
  width: 1721.16px;
  margin-top: 24px;
  height: 793.37px;
  margin-left: 66px;
  justify-content: space-between;
}
.landing-page-right {
  width: 483.16px;
  height: 771.37px;
  display: flex;
  flex-direction: column;
  background: url("../assets/landing-page-my-application-backgroun.svg");
  align-items: center;
}
.landing-page-right-top {
  width: 370.79px;
  height: 57.4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 60px;
}
.ladning-page-right-header {
  /* My applications */

  width: 308.55px;
  height: 57.4px;

  font-family: "Blinker";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
  align-self: flex-end;
}
.landing-page-right-bottom {
  width: 331px;
  height: 546px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.ladning-page-right-bottom-case-user-unaduthorized {
  width: 326.49px;
  height: 50.23px;
  text-align: center;

  color: #000000;
}
