@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@400;700;800&display=swap");
html {
  font-family: "Blinker", sans-serif;
}
.chat-page-body {
  height: 780px;
  display: flex;
  flex-direction: row;
  background: url("../assets/chat_background.svg") no-repeat;
  justify-content: space-evenly;
}
.chat-page-body-left {
  width: 480px;
  height: 779.86px;
  display: flex;
  flex-direction: column;
}
.chat-menu-header {
  width: 481px;
  height: 71.91px;
  background-color: #235666;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chat-menu-header-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.chat-menu-body {
  width: 480px;
  height: 710px;
  background: url("../assets/chat-menu-background.svg") no-repeat;
}

.chat-elment {
  width: 320px;
  height: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  justify-content: space-between;
}
.chat-elment-top img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.chat-elment-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
.chat-elment-company-titls {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 27px;
  font-family: "Blinker";
  font-style: normal;
  color: #000000;
  width: 168px;
  height: 61px;
}
.chat-elment-company-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.chat-elment-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.chat-elment-bottom {
  margin-top: 20px;
  margin-left: 119px;
}
.chat-page-body-right {
  width: 1100px;
  height: 710px;
  background: url("../assets/chat_body_background.svg") no-repeat;

  align-self: center;
}
.messaging-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 1020px;
  height: 674px;
  justify-content: space-between;
}
.messaging-top {
  width: 1000px;
  height: 71px;
  padding-left: 25px;
  font-family: "Blinker";
  font-style: normal;
  margin-bottom: 40px;
}

.messaging-top-headr {
  /* Company Name */

  border-bottom: 1px solid #386775;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;

  color: #386775;
}
.messaging-top-subtitle {
  /* Subtitle | chating with HR */
  height: 35px;
  padding-left: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;

  color: #000000;
}
.messaging-middel-container {
}
.messaging-middel {
  display: grid;
  max-width: 1010px;
  max-height: 500px;
  grid-template-rows: 1fr 1fr;
}
.messaging-middel-left {
  justify-self: start;
  max-width: 493px;
  max-height: 500px;
  background: #d9d9d9;
  color: #ffffff;
  border-radius: 25px;
  margin-bottom: 5px;
}
.messaging-middel p {
  max-width: 493px;
  line-height: 24px;
  padding: 10px 20px;
}
.messaging-middel-right {
  justify-self: end;
  max-width: 493px;
  max-height: 500px;
  background: #edfafe;
  color: #000000;
  border-radius: 25px;
  margin-top: 40px;
  margin-bottom: 5px;
}
.messaging-bottom {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: flex-end;
  justify-content: space-between;
  align-content: flex-start;
  width: 851px;
  height: 50px;
}
.messaging-bottom-input {
  width: 800px;
  height: 50px;
}
.messaging-bottom-input input {
  width: 800px;
  height: 50px;
  border: 1px solid #386775;
  box-sizing: border-box;
  border-radius: 15px;
  padding-left: 20px;
}
