.register-page-body {
  width: 100vw;
  height: 88vh;
  background: url("../assets/home_page_blured_background.svg") no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register-form {
  width: 882px;
  height: 398px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.register-form-header {
  width: 212px;
  height: 22px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #235666;
  align-self: center;
}
.register-form-middel {
  width: 882px;
  height: 187px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.register-form-middel-first-row,
.register-form-middel-second-row,
.register-form-middel-third-row {
  width: 882px;
  height: 44px;
  display: flex;
  justify-content: space-between;
}
.build-or-upload-resume {
  width: 383px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.register-form-middel input,
.register-form-middel select {
  /* Rectangle 7 */

  box-sizing: border-box;

  width: 420px;
  height: 44px;

  background: rgba(244, 243, 251, 0.6);
  border-radius: 15px;
  padding-left: 20px;
  -webkit-box-shadow: 10px 18px 16px 1px rgba(196, 236, 244, 1);
  -moz-box-shadow: 10px 18px 16px 1px rgba(196, 236, 244, 1);
  box-shadow: 10px 18px 16px 1px rgba(196, 236, 244, 1);
  outline: none;
  font-family: "Blinker";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.register-form-middel select {
  margin-right: 20px;
}

.default-option-value {
  /* Gander */

  font-family: "Blinker";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: rgba(0, 0, 0, 0.5);
}
.register-form-middel input:focus {
  outline: none;
  border: 2px solid rgba(196, 236, 244, 1);
  transition: 0.4s;
  background: transparent;
}
.build-or-upload-resume span {
  /* Upload your Resume */

  width: 137px;
  height: 19px;

  font-family: "Blinker";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;

  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.build-or-upload-resume button {
  /* Rectangle 9 */

  width: 210px;
  height: 44px;

  background: #e7f0ff;
  border-radius: 15px;

  font-family: "Blinker";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: rgba(0, 0, 0, 0.5);
  justify-content: center;
}
.register-form-footer {
  width: 210px;
  height: 88px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  align-items: center;
}
.term-and-condtions {
  width: 163px;
  height: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.term-and-condtions-checkbox {
  box-sizing: border-box;

  width: 13px;
  height: 13px;

  background: #f4f7fd;
  border: 0.2px solid #000000;
}
.term-and-condtions-text {
  /* Tearmes and condictions */

  width: 146px;
  height: 17px;

  font-family: "Blinker";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  display: flex;
  align-items: center;

  color: rgba(0, 0, 0, 0.5);
}
