@import url("https://fonts.googleapis.com/css?family=Inter:400,500,600,800|Blinker:400|Abril+Fatface:400");

@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.guest-nav-bar {
  background-color: #fff;
  width: 100vw;
  height: 103px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #fff8f5;
  background: -moz-linear-gradient(
    left,
    #fff8f5 0%,
    #edfafe 73%,
    #e4f4f1 96%,
    #e4f4f1 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, #fff8f5),
    color-stop(73%, #edfafe),
    color-stop(96%, #e4f4f1),
    color-stop(100%, #e4f4f1)
  );
  background: -webkit-linear-gradient(
    left,
    #fff8f5 0%,
    #edfafe 73%,
    #e4f4f1 96%,
    #e4f4f1 100%
  );
  background: -o-linear-gradient(
    left,
    #fff8f5 0%,
    #edfafe 73%,
    #e4f4f1 96%,
    #e4f4f1 100%
  );
  background: -ms-linear-gradient(
    left,
    #fff8f5 0%,
    #edfafe 73%,
    #e4f4f1 96%,
    #e4f4f1 100%
  );
  background: linear-gradient(
    to right,
    #fff8f5 0%,
    #edfafe 73%,
    #e4f4f1 96%,
    #e4f4f1 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff8f5', endColorstr='#e4f4f1', GradientType=1 );
}
.guest-nav-bar__logo {
  padding: 20px;
}

.guest-nav-bar_right {
  width: 632.94px;
  height: 76.27px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.guest-nav-bar_left {
  padding-right: 80px;
}
.login-page-body {
  width: 100vw;
  height: 686px;
  background: url("../assets/home_page_blured_background.svg");
}
.please-login {
  /* LOG IN TO YOUR ACCOUNT */

  position: absolute;
  width: 241px;
  height: 22px;
  left: calc(50% - 241px / 2 + 0.5px);
  top: calc(50% - 22px / 2 - 211px);

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;

  color: #235666;
}
.login-username {
  /* Rectangle 3 */

  box-sizing: border-box;
  border: 2px solid;
  position: absolute;
  backgreound-color: #f4f7fd;
  width: 420px;
  height: 44px;
  left: calc(50% - 395px / 2 + 0.5px);
  top: calc(50% - 22px / 2 - 117px);
  border-radius: 15px;
  padding-left: 1%;
}
input:focus {
  outline: none;
}
.login-password {
  box-sizing: border-box;
  border: 2px solid #235666;
  position: absolute;
  width: 420px;
  height: 44px;
  left: calc(50% - 395px / 2 + 0.5px);
  top: calc(50% - 22px / 2 - 36px);
  border-radius: 15px;
  padding-left: 1%;
}
::-webkit-input-placeholder {
  /* Username */
  font-family: "Blinker";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;

  color: rgba(0, 0, 0, 0.5);
}
.remember-me {
  /* Group 13 */

  position: absolute;
  width: 147px;
  height: 17px;
  left: 771px;
  top: 509px;
}
.remember-me-title {
  /* Remember username */

  position: absolute;
  width: 131px;
  height: 17px;
  left: 22px;
  top: calc(50% - 17px / 2 - 37.5px);

  font-family: "Blinker";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  display: flex;
  align-items: center;

  color: rgba(0, 0, 0, 0.5);
}
.remember-me-check {
  /* Rectangle 7 */

  box-sizing: border-box;

  position: absolute;
  width: 13px;
  height: 13px;
  left: 1px;
  top: -38px;

  background: #f4f7fd;
  border: 0.2px solid #000000;
}

.forgot-password {
  /* Group 14 */

  position: absolute;
  width: 131px;
  height: 17px;
  left: 1055px;
  top: 469px;
}
.forgot-password-button {
  /* Forgot Password? */
  text-decoration: underline;
  position: absolute;
  width: 131px;
  height: 17px;
  left: calc(50% - 131px / 2 + 120.5px);
  top: calc(50% - 17px / 2 - 37.5px);

  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;

  color: rgba(0, 0, 0, 0.6);
  text-decoration: underline;
}
.login-button-text {
  /* Rectangle 6 */
  font-family: "Blinker";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  position: absolute;
  width: 210px;
  height: 50px;
  left: calc(50% - 210px / 2);

  top: calc(50% - -32px / 2 + 70px);
  border: 0.5px solid #235666;
  background: linear-gradient(
    92.6deg,
    rgba(106, 89, 199, 0.48) 3.19%,
    rgba(163, 228, 248, 0.6) 35.18%,
    rgba(167, 220, 192, 0.6) 100%
  );
  border-radius: 15px;
  paddint: 1%;
}
