@import url("https://fonts.googleapis.com/css?family=Inter:400,500,600,800|Blinker:400|Abril+Fatface:400");

@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.guest-nav-bar {
  background-color: #fff;
  width: 100vw;
  height: 103px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #fff8f5;
  background: -moz-linear-gradient(
    left,
    #fff8f5 0%,
    #edfafe 73%,
    #e4f4f1 96%,
    #e4f4f1 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, #fff8f5),
    color-stop(73%, #edfafe),
    color-stop(96%, #e4f4f1),
    color-stop(100%, #e4f4f1)
  );
  background: -webkit-linear-gradient(
    left,
    #fff8f5 0%,
    #edfafe 73%,
    #e4f4f1 96%,
    #e4f4f1 100%
  );
  background: -o-linear-gradient(
    left,
    #fff8f5 0%,
    #edfafe 73%,
    #e4f4f1 96%,
    #e4f4f1 100%
  );
  background: -ms-linear-gradient(
    left,
    #fff8f5 0%,
    #edfafe 73%,
    #e4f4f1 96%,
    #e4f4f1 100%
  );
  background: linear-gradient(
    to right,
    #fff8f5 0%,
    #edfafe 73%,
    #e4f4f1 96%,
    #e4f4f1 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff8f5', endColorstr='#e4f4f1', GradientType=1 );
}
.guest-nav-bar__logo {
  padding: 20px;
}

.guest-nav-bar_right {
  width: 632.94px;
  height: 76.27px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.guest-nav-bar_left {
  padding-right: 80px;
}
.login-page-body {
  width: 100vw;
  height: 88vh;
  background: url("../assets/home_page_blured_background.svg") no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 420px;
  height: 314px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 126px;
}
.login-form-header {
  width: 241px;
  height: 22px;
  /* LOG IN TO YOUR ACCOUNT */

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #235666;
  align-self: center;
}
.login-form-middel {
  width: 420px;
  height: 145px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.login-form-input-fields {
  width: 420px;
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login-form-input-fields input {
  width: 420px;
  height: 44px;
  box-sizing: border-box;

  background: rgba(244, 243, 251, 0.6);
  border-radius: 15px;

  font-family: "Blinker";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-left: 20px;
  paddin-right: 20px;
  -webkit-box-shadow: 10px 18px 16px 1px rgba(196, 236, 244, 1);
  -moz-box-shadow: 10px 18px 16px 1px rgba(196, 236, 244, 1);
  box-shadow: 10px 18px 16px 1px rgba(196, 236, 244, 1);
}
.login-form-input-fields input:focus {
  outline: none;
  border: 2px solid rgba(196, 236, 244, 1);
  transition: 0.4s;
  background: transparent;
}

.login-form-checkbox {
  width: 368px;
  height: 17px;
  display: flex;
  justify-content: space-between;
}
.login-form-rember-me-container {
  width: 147px;
  height: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-form-rember-me-label {
  /* Remember username */

  width: 131px;
  height: 17px;

  font-family: "Blinker";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: rgba(0, 0, 0, 0.5);
}
.login-form-forgot-password {
  width: 131px;
  height: 17px;

  font-family: "Calibri";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  cursor: pointer;

  color: rgba(0, 0, 0, 0.6);
}
.login-form-bottom {
  width: 210px;
  height: 44px;
  align-self: center;
  cursor: pointer;
}
