@import url("https://fonts.googleapis.com/css?family=Blinker");
html {
  font-family: Blinker, sans-serif;
}
.container {
  height: 100vh;
  /* adjust the height when you add the map if the map has only one item let the height be 100vh if more than one item then adjust the height to 100% */
}
.offers-body {
  margin-top: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offers-title {
  /* Find a Job */
  width: 228.01px;
  height: 56.36px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 24px;
  text-align: center;

  color: #235666;
}
.search-names {
  display: flex;
  flex-direction: row;
  width: 700px;
  justify-content: space-between;
  margin-bottom: 60px;
}
.search-names div {
  width: 200px;
  height: 56px;
  background-color: #f4f3fb;
  border-radius: 15px;
  -webkit-box-shadow: 10px 18px 16px 1px rgba(196, 236, 244, 1);
  -moz-box-shadow: 10px 18px 16px 1px rgba(196, 236, 244, 1);
  box-shadow: 10px 18px 16px 1px rgba(196, 236, 244, 1);
}
.job-name-search,
.money-stipend-search,
.location-search {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.job-name-search span,
.money-stipend-search span,
.location-search span {
  /* Job Title */

  height: 24.34px;
  font-family: "Blinker";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: rgba(0, 0, 0, 0.5);
}
.job-name-search span,
.money-stipend-search span,
.location-search span,
.job-name-search svg,
.money-stipend-search svg,
.location-search svg {
  margin-left: 10px;
}
.offers-card-container {
  display: flex;
  flex-direction: column;
}
.offers-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 60px;

  width: 850px;
  height: 400px;
  background: #f4f3fb;
  border-radius: 25px 0px 25px 15px;
}
.offers-card-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.offers-card img {
  width: 150px;
  height: 150px;
  postion: relative;
  margin-left: 10px;
  border-radius: 50%;
}
.offers-card-company-titls {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-family: "Blinker";
  font-style: normal;
  color: #000000;
  width: 168px;
  height: 35px;
}
.offers-card-company-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.offers-card-company-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.offfers-card-middel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 71px;
  width: 722px;
  margin-bottom: 20px;
}
.offers-card-middel-first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 722px;
  height: 30px;
  margin-left: 90px;
}
.offers-card-mddel-minimum-stipend-label,
.offers-card-job-title-label,
.offers-card-location-label,
.offers-card-duration-label {
  display: flex;
  flex-direction: row;
  width: 170px;
  height: 30px;
  background: #415d66;
  color: #ffffff;
  border-radius: 25px 0px 25px 15px;
  font-family: "Blinker";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  padding-left: 10px;
}
.offers-card-mddel-minimum-stipend-label span,
.offers-card-job-title-label span,
.offers-card-location-label span,
.offers-card-duration-label span {
  display: flex;
  margin-left: 5px;
}

.offers-card-middel-second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 722px;
  height: 30px;
  margin-left: 90px;
}
.offers-card-mddel-minimum-stipend-value,
.offers-card-job-title-value,
.offers-card-location-value,
.offers-card-duration-value {
  display: flex;

  width: 170px;
  height: 30px;
  background: #ffffff;
  color: #415d66;
  border-radius: 25px 0px 25px 15px;
  font-family: "Blinker";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
}
.offers-card-middel-second-row span {
  margin-left: 5px;
}
.offers-card-bottom {
  margin-left: 354px;
}
